p
    if theme.warning
        != theme.warning
    else 
        | このサイトにはライトノベル程度の過激な表現が含まれています。
    br
    | 利用規約ページで利用規約に同意しユーザー名を登録した方のみが閲覧できます。
    br
    a(href=url_for("/tos/") class="btn  z-depth-0 full-width") 利用規約ページへ